body.clair {
  background-color: #ffffff;
  color: #000000;
}
body.clair article {
  background-color: #f8f9fa;
  border: 1px solid black;
  color: black;
}
body.clair section h2 {
  background-color: #F5F5F5;
}
body.clair section h3 {
  background-color: lightgrey;
}

body.fonce {
  background-color: #121212;
  color: #f5f5f5;
}
body.fonce article {
  background-color: #1f1f1f;
  border: 1px solid white;
  color: white;
}
body.fonce section h2 {
  background-color: darkgrey;
}
body.fonce section h3 {
  background-color: grey;
}

body.izaya {
  background-color: #BAA898;
  color: #f5f5f5;
}
body.izaya article {
  background-color: #EEE0CB;
  border: 1px solid white;
  color: black;
}
body.izaya section h2 {
  background-color: #44534A;
}
body.izaya section h3 {
  background-color: #839788;
}

body.haru {
  background-color: #BAA898;
  color: #f5f5f5;
}
body.haru article {
  background-color: #EEE0CB;
  border: 1px solid white;
  color: black;
}
body.haru section h2 {
  background-color: #44534A;
}
body.haru section h3 {
  background-color: #839788;
}

body.kuu {
  background-color: #BAA898;
  color: #f5f5f5;
}
body.kuu article {
  background-color: #EEE0CB;
  border: 1px solid white;
  color: black;
}
body.kuu section h2 {
  background-color: #44534A;
}
body.kuu section h3 {
  background-color: #839788;
}

body.automne {
  background-color: #FFC15E;
  color: black;
}
body.automne article {
  background-color: #F7B05B;
  border: 1px solid black;
  color: black;
}
body.automne section h2 {
  background-color: #CC5803;
}
body.automne section h3 {
  background-color: #F7934C;
}

body.hiver {
  background-color: #A2D2FF;
  color: black;
}
body.hiver article {
  background-color: #BDE0FE;
  border: 1px solid white;
  color: black;
}
body.hiver section h2 {
  background-color: #FFAFCC;
}
body.hiver section h3 {
  background-color: #FFC8DD;
}

body.printemps {
  background-color: #FEFAE0;
  color: black;
}
body.printemps article {
  background-color: #FAEDCD;
  border: 1px solid #D4A373;
  color: black;
}
body.printemps section h2 {
  background-color: #CCD5AE;
}
body.printemps section h3 {
  background-color: #E9EDC9;
}

body.ete {
  background-color: #F7B267;
  color: black;
}
body.ete article {
  background-color: #F79D65;
  border: 1px solid black;
  color: black;
}
body.ete section h2 {
  background-color: #F25C54;
}
body.ete section h3 {
  background-color: #F27059;
}