.presentation-texte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.presentation-texte h3 {
    margin-left: 10%;
}

.presentation-texte p{
    margin-top: 30px;
    border-style: solid;
    padding: 5px;
    border-radius: 10px;
    border-width: 2px;
}

.presentation-texte > .left {
    text-align: justify;
    margin-left: 10%;
    margin-right: 25%;
}
.presentation-texte > .right {
    text-align: justify;
    text-align-last: right;
    margin-left: 25%;
    margin-right: 10%;
}